h1{
    color :green;
    font-size:30px;
    text-align: center;
    font-style: italic;
}
#intro{
    flex-direction:row;
  background-color:#F0E68C;
  border-radius:100px;
   border:solid green;
   }
   body{
       background-color:palevioletred;
       display:inline;
       text-align:center;
   }
   p{
   
    font-size:23px;
    text-align:center;
    color:green

 
 }
Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11{
     color: yellow;
     font-size: 23px;
     text-align: center;
     font-style: italic;
 }
 input{
     text-align:center
 }